#footer {
    background-color: var(--blue);
    color: var(--white);
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    width: 100%;
    max-width: 1280px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-grid {
    display: flex;
    justify-content: left;
    gap: 12rem;
    width: 100%;
    margin-bottom: 2rem;
}

.footer-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: left;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-list li {
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.footer-list li a {
    color: var(--white);
    text-decoration: none;
    font-weight: normal;
}

.footer-list li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 2rem;
    font-size: 0.875rem;
    text-align: center;
}