@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --red: #ed1c24;
  --blue: #111827;
  --gray: #58595b;
  --white: #ffffff;
  --black: #000000;
  --secondary-white: #f9f9f9;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: var(--blue);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--white);
}

.active {
  color: var(--red);
}

.whatsappLink {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsappLink:hover {
  color: white;
}

@media screen and (max-width: 1500px) {
  #homePhotoWithInfo {
    align-items: normal;
  }
}

@media only screen and (max-width: 1394px) {
  .cardHome {
    flex: 1 1 calc(50% - 2rem); /* Two cards per row */
    max-width: calc(50% - 2rem);
  }
  #infoCardsHome {
    padding: 5rem 8rem;
  }
}

@media screen and (max-width: 1200px) {
  #homePhotoWithInfo {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-grid {
    flex-direction: column;
  }
  #contact-usRight {
    height: 100%;
  }
}

@media screen and (max-width: 1080px) {
  #contact-usRight {
    padding-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 1020px) {
  #homePhotoWithInfo div {
    width: 100%;
  }
  #homePhotoWithInfo {
    gap: 5rem;
  }
  #hamburger {
    display: block !important;
  }
  #nav,
  .socialsIcons {
    display: none !important;
  }
  .reviews-container {
    padding: 5rem 2rem;
  }
  #introHome h2 {
    text-align: center;
  }
}

@media screen and (max-width: 905px) {
  #contact-usRight {
    padding-bottom: 5.2rem;
  }
}

@media screen and (max-width: 880px) {
  #contact-usRight {
    padding-bottom: 6.7rem;
  }
}


@media only screen and (max-width: 850px) {
  #overOnsIntroText {
    padding: 2rem ;
  }

  #overOnsIntro p {
    font-size: 1rem ;
    padding: 0 2rem;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .cardHome,
  .praktijk-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  #header {
    padding: 0 2rem ;
    justify-content: space-between;
  }

  #homePhotoWithInfo, .privacy-text {
    padding: 5rem 2rem ;
  }

  #infoCardsHome {
    padding: 2rem ;
  }

  #OverOnsMeerInfo {
    padding-top: 0;
  }

  #kiesOns {
    margin:  2rem ;
    flex-direction: column;
  }
  #contact-usRight {
    padding-bottom: 5.2rem;
  }

  .kies-ons-item {
    width: 100%;
  }
  .footer-content {
    padding: 2rem ;
  }

  .reviews-container {
    padding: 2rem 0 ;
  }

  #introHome h1 {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  

  .review-item {
    margin: 4rem ;
  }
  .pakket-theorie-card {
    width: 100%;
  }

  .centerContainer, .flex-container {
    padding: 1rem 2rem;
  }

  .praktijk-info-box {
    max-width: 400px;
    font-size: 12px;
    margin-bottom: 3rem;
  }

  .faq-container {
    margin: 2rem ;
    padding: 1rem ;
  }
  .reviews-container {
    padding: 5rem 2rem ;
  }
}


@media screen and (max-width: 654px) {
  #contact-us {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  #contact-usRight, #contact-usLeft {
    width: 100%;
  }

  #contact-usRight {
    padding-bottom: 0;
  }

  #map {
    padding: 5rem 2rem;
  }

  
}


@media screen and (max-width: 550px) {

  .praktijk-info-box {
    max-width: 300px;
    font-size: 10px;
  }
}