#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--white);
  height: 90px;
  padding: 0 8rem 0 8rem;
}

a,
#hamburger {
  text-decoration: none;
  color: var(--gray);
  transition-duration: 0.5s;
  font-weight: bold;
  cursor: pointer;
}

a:hover,
#hamburger:hover {
  color: var(--red);
  transition-duration: 0.5s;
}

#hamburger {
  margin-top: 0.2rem;
  font-size: 1.7rem;
  display: none;
}

#nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--gray);
  font-size: large;
}

#socials {
  font-size: x-large;
  display: flex;
  gap: 1rem;
}

#logo {
  height: 120px;
  width: auto;
  cursor: pointer;
}

.insta {
  font-size: 1.7rem;
}

@media screen and (max-width: 1500px) {
  #homePhotoWithInfo {
    align-items: normal;
  }
}

@media only screen and (max-width: 1394px) {
  .cardHome {
    flex: 1 1 calc(50% - 2rem); /* Two cards per row */
    max-width: calc(50% - 2rem);
  }
  #infoCardsHome {
    padding: 5rem 8rem;
  }
}

@media screen and (max-width: 1200px) {
  #homePhotoWithInfo {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-grid {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1020px) {
  #homePhotoWithInfo div {
    width: 100%;
  }
  #homePhotoWithInfo {
    gap: 5rem;
  }
  #hamburger {
    display: block;
  }
  #nav,
  .socialsIcons {
    display: none;
  }
  .reviews-container {
    padding: 5rem 2rem;
  }
  #introHome h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 850px) {
  #overOnsIntroText {
    padding: 2rem !important;
  }
}
@media only screen and (max-width: 768px) {
  .cardHome,
  .praktijk-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  #header {
    padding: 0 2rem !important;
  }

  #homePhotoWithInfo,
  #infoCardsHome .privacy-text,
  #infoCardsHome {
    padding: 5rem 2rem !important;
  }

  #kiesOns {
    margin:  2rem !important;
  }

  .footer-content {
    padding: 2rem !important;
  }

  .reviews-container {
    padding: 2rem 0 !important;
  }

  #introHome h1 {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }

  

  .review-item {
    margin: 4rem !important;
  }

  #overOnsIntro p {
    font-size: 1rem !important;
  }
}
