#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--white);
  height: 90px;
  padding: 0 8rem 0 8rem;
}

a,
#hamburger {
  text-decoration: none;
  color: var(--gray);
  transition-duration: 0.5s;
  font-weight: bold;
  cursor: pointer;
}

a:hover,
#hamburger:hover {
  color: var(--red);
  transition-duration: 0.5s;
}

#hamburger {
  margin-top: 0.2rem;
  font-size: 1.7rem;
  display: none;
}

#nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--gray);
  font-size: large;
}

#socials {
  font-size: x-large;
  display: flex;
  gap: 1rem;
}

#logo {
  height: 120px;
  width: auto;
  cursor: pointer;
}

.insta {
  font-size: 1.7rem;
}
