#infoCardsHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 1.5rem 5rem 1.5rem;
  gap: 2rem;
  background-color: var(--secondary-white);
}

.cardHome {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 20%;
  height: 220px;
  border-radius: 10px;
  border: 1px solid rgba(88, 89, 91, 0.182);
  padding: 1rem;
  flex: 1 1 20%; /* Four cards per row */
  max-width: 20%;
}

.cardHome:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  transition-duration: 0.5s;
}

.cardHome div h3 {
  font-weight: bolder;
  margin: 0.5rem 0;
}

.cardHome p {
  font-size: 14px;
  color: var(--gray);
  margin: 0.5rem 0;
}

#iconCardHome {
  font-size: 50px;
  margin: 0.5rem 0;
}




