.privacy-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 5rem 8rem;
}

.title-container {
  background-color: var(--blue);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  margin: 0;
  width: 100%;
  padding: 4rem;
  margin-top: -3rem;
  text-transform: uppercase;
}

.privacy-container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.privacy-container section {
  margin-bottom: 15px;
  font-size: 18px;
}

.privacy-container section strong {
  display: block;
  margin-top: 20px;
  font-size: 1.2em;
}


#sectionVoorwaarden {
  margin-top: 2rem;
}